<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Demo</title>
    <script src="/static/combined.js"></script>
</head>
<body>
    <div id="container">
        <h2 id="role">Choose Role</h2>
        <button id="btn-broadcaster">Start Broadcasting</button>
        <button id="btn-viewer">Watch Stream</button>
    </div>
    <video autoplay id="video" width="500" height="350"></video>
</body>
</html>
